<header class="main-nav">
  <nav>
    <ul>
      <li><a class="link link-border-underline" href="#start">Start</a></li>
      <li><a class="link link-border-underline" href="#about">About</a></li>
    </ul>
    <div class="logo">
      <!-- <img class="logo-img" src="./shinetime1.png" alt="" /> -->
      <h1>ShineTime</h1>
      <span class="logo-span"></span>
    </div>
    <ul>
      <li>
        <a class="link link-border-underline" href="#service">Services</a>
      </li>
      <li>
        <a class="link link-border-underline" href="#contact">Contact</a>
      </li>
      <button class="btn btn-border-underline call-btn">
        <a href="tel:6162028924"> 616-202-8924</a>
      </button>
    </ul>
  </nav>
</header>
